
/* HEADER */
#header{
    background-image: url(/assets/img/capa.jpg) ;
    height: 100vh;
    background-size: cover;
    color:white;
}
.menu-logo{
    padding: 2rem;
    display: flex;
}
.menu-logo .logo img{
    width: 100%;
    max-width: 8%;
}
.menu-logo .menu ul{
    display: flex;
}
.menu-logo .menu ul li{
    color:white;
    margin-left: 2rem;
}
#header .content{
    max-width: 55vw;
    width: 100%;
    padding: 2rem;
    margin-top: 30vh;
}
#header .content span{
    padding: 1rem;
    font-size: 5rem;
    font-weight: 700;
}




/* MAIN */
#main{
    text-align: center;
    padding: 3rem;
}
#main h2{
    font-size: 3rem;
    color: orangered
}
.pets{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .pets .images-pets{
    margin: 1rem;
}
.pets .images-pets img{
    width: 100%;
    max-width: 180px;
    height: 30vh;
    border-radius: 15px 5px 15px 20px;
    background-size: cover;
    
}

@media (max-width:768px){
    .pets{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: space-between;
        /* padding: 5rem; */
        /* flex-wrap: wrap; */
    }
}