/* HEADER */
#header{
    background-image: url(/assets/img/capa.jpg);
    height: 100vh;
    background-size: cover;
    color:white;

}
.menu-logo{
    padding: 2rem;
    display: flex;
}
.menu-logo .logo img{
    width: 100%;
    max-width: 8%;
}
.menu-logo .menu ul{
    display: flex;
}
.menu-logo .menu ul li{
    color:white;
    margin-left: 2rem;
}
#header .content{
    width: 35vw;
    padding: 2rem;
    margin-top: 30vh;
}
#header .content span{
    padding: 1rem;
    font-size: 5rem;
    font-weight: 700;
}
/* MAIN */
#main{
    text-align: center;
    padding: 1rem;
}
#main h2{
    font-size: 3rem;
    color: orangered;

}
.pets{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}
#main .pets .images-pets img{
    width: 21vw;
    height: 40vh;
    padding: 1rem;

}